:root {
  --primary-color: #1A1A2E;
  --secondary-color: #16213E;
  --background-color: #F4F4F4;
  --accent-color: #0F3460;
  --text-color: #E94560;
  --spacing-unit: 1rem;
  --border-radius: 8px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  line-height: 1.6;
  color: var(--primary-color);
}

#App {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#app-identity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--spacing-unit) * 1.5);
  background-color: var(--primary-color);
  color: black;
}

#logo {
  width: 132px;
  height: 132px;
  object-fit: contain;
  margin-right: var(--spacing-unit);
  transition: transform 0.3s ease;
  border-radius: var(--border-radius);
}

#logo:hover {
  transform: scale(1.05);
}

#recently-viewed {
  flex-grow: 1;
  overflow: hidden;
}

#recently-viewed h2 {
  color: var(--text-color);
  margin-bottom: var(--spacing-unit);
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 0.5rem;
}

#history-list {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)); */
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 0.5rem 0;
  max-height: 60px;
  overflow-y: auto;
}

main {
  padding: calc(var(--spacing-unit) * 1.5) calc(var(--spacing-unit) * 1.5);
}

#font-preview {
  margin-bottom: calc(var(--spacing-unit) * 2);
}

#preview-container {
  border: 2px solid var(--accent-color);
  border-radius: var(--border-radius);
  padding: calc(var(--spacing-unit) * 1.5);
  font-size: 2.75rem;
  min-height: 160px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  letter-spacing: 0.25rem;
}

#preview-container:focus {
  outline: none;
  border-color: var(--text-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

#font-browser {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  padding: var(--spacing-unit);
}

#font-browser h2 {
  color: var(--accent-color);
  margin-bottom: var(--spacing-unit);
  border-bottom: 2px solid var(--text-color);
  padding-bottom: 0.5rem;
}

#font-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.font-item {
  padding: 0.5rem;
  background-color: white;
  border-radius: var(--border-radius);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 140px;
}

.font-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: white;
}

.selected-font {
  background-color: var(--text-color);
  color: white;
  border: 2px solid var(--accent-color);
  transform: scale(1.05);
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.char {
  transition: color 0.3s ease;
}

.char:hover {
  color: var(--text-color);
}
#preview-history-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: var(--spacing-unit); */
}

#scroll-controls {
  display: flex;
  gap: 0.5rem;
}

.scroll-btn {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.5; /* Varsayılan olarak sönük */
}

.scroll-btn.enabled {
  opacity: 1; /* Scroll edilebilir yön parlak */
}

.scroll-btn:hover {
  transform: scale(1.1);
}

.scroll-btn:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

@media (max-width: 768px) {
  #app-identity {
    flex-direction: column;
    text-align: center;
  }

  #recently-viewed {
    margin-top: var(--spacing-unit);
  }

  #font-list {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}

@font-face {
  font-family: "Arimo";
  src: url('./static/fonts/Arimo-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Caveat";
  src: url('./static/fonts/Caveat-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Dancing Script";
  src: url('./static/fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Exo";
  src: url('./static/fonts/Exo-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Fira Sans";
  src: url('./static/fonts/FiraSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Josefin Sans";
  src: url('./static/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Lato";
  src: url('./static/fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Lobster";
  src: url('./static/fonts/Lobster-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Lora";
  src: url('./static/fonts/Lora-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Merriweather";
  src: url('./static/fonts/Merriweather-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Montserrat";
  src: url('./static/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Mukta";
  src: url('./static/fonts/Mukta-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Noto Sans";
  src: url('./static/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
}
@font-face {
  font-family: "Nunito";
  src: url('./static/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Open Sans";
  src: url('./static/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}
@font-face {
  font-family: "Pacifico";
  src: url('./static/fonts/Pacifico-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Playfair Display";
  src: url('./static/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url('./static/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Poppins";
  src: url('./static/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "PT Sans";
  src: url('./static/fonts/PTSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Quicksand";
  src: url('./static/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Raleway";
  src: url('./static/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto";
  src: url('./static/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto Slab";
  src: url('./static/fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Rokkit";
  src: url('./static/fonts/Rokkit-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Rubik";
  src: url('./static/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Source Sans 3";
  src: url('./static/fonts/SourceSans3-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Titillium Web";
  src: url('./static/fonts/TitilliumWeb-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Ubuntu";
  src: url('./static/fonts/Ubuntu-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Work Sans";
  src: url('./static/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Volkhov";
  src: url('./static/fonts/Volkhov-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Zilla Slab";
  src: url('./static/fonts/ZillaSlab-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Karla";
  src: url('./static/fonts/Karla-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Varela Round";
  src: url('./static/fonts/VarelaRound-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Barlow";
  src: url('./static/fonts/Barlow-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Mulish";
  src: url('./static/fonts/Mulish-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Asap";
  src: url('./static/fonts/Asap-VariableFont_wdth,wght.ttf') format('truetype');
}
@font-face {
  font-family: "Arvo";
  src: url('./static/fonts/Arvo-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Amatic SC";
  src: url('./static/fonts/AmaticSC-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Parkinsans";
  src: url('./static/fonts/Parkinsans-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Inconsolata";
  src: url('./static/fonts/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype') ;
}
@font-face {
  font-family: "Overpass";
  src: url('./static/fonts/Overpass-VariableFont_wght.ttf') format('truetype') ;
}
@font-face {
  font-family: "Tinos";
  src: url('./static/fonts/Tinos-Regular.ttf') format('truetype') ;
}
@font-face {
  font-family: "Signika";
  src: url('./static/fonts/Signika-VariableFont_GRAD,wght.ttf') format('truetype') ;
}
@font-face {
  font-family: "Abel";
  src: url('./static/fonts/Abel-Regular.ttf') format('truetype') ;
}
@font-face {
  font-family: "Archivo";
  src: url('./static/fonts/Archivo-VariableFont_wdth,wght.ttf') format('truetype') ;
}
@font-face {
  font-family: "Manrope";
  src: url('./static/fonts/Manrope-VariableFont_wght.ttf') format('truetype') ;
}
@font-face {
  font-family: "Public Sans";
  src: url('./static/fonts/PublicSans-VariableFont_wght.ttf') format('truetype') ;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url('./static/fonts/IBMPlexSans-Regular.ttf') format('truetype') ;
}
@font-face {
  font-family: "Inter";
  src: url('./static/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}